
<section class="register-section">
  <div class="register-div">
    
<form action="/register" method="POST">
{{userExists}}
  <div>
      {{msg}} <br>
    <label for="name">Name:</label><br>
    <input 
    name="name" 
    type="text" 
    value={{name}}
    required>
  </div>

  <div>
    <label for="email">E-mail:</label><br>
    <input 
    name="email" 
    type="text" 
    value={{email}}
    required>
  </div>

  <div>
    {{passwordMatch}}
    {{passwordError}}
    <label for="password">Password:</label><br>
    <input 
    name="password" 
    type="password"
    placeholder="Enter a new password"
    required>
  </div>

  <div>

    <label for="name">Confirm password:</label><br>
    <input 
    name="password2"
    type="password"
    placeholder="Confirm new Password"
    required>
  </div>


  <button type="submit">Submit</button>

</form>
  </div>
</section>